/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the body takes the full height of the viewport */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f3f4eb;
    color: #333;
    place-items: center;
    scroll-behavior: smooth;
}

.web_logo h1{
    font-family: 'Great Vibes', cursive;
    font-size: 2.3vw;
}

.web_logo img{
    height: 6vw;
    filter: brightness(0) invert(1); 
    transition: transform 0.3s ease;
}

.tagline{
    color: #ccc;
}

.web_logo li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar Styles */
nav {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Navigation Menu Styles */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative; /* Positioning for the tooltip */
    margin: 0 1.5vw; /* Spacing between menu items */
}

/* Tooltip Styles */
.tooltip {
    visibility: hidden; /* Initially hidden */
    width: 10vw; /* Width of the tooltip */
    background-color: #555; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Centered text */
    border-radius: .5vw; /* Rounded corners */
    padding: .5vw; /* Padding for tooltip */
    position: absolute; /* Positioned relative to the parent */
    z-index: 1; /* Above other elements */
    top: 125%; /* Position below the menu item */
    left: 50%; /* Center tooltip */
    margin-left: -6vw; /* Adjust left offset */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s; /* Smooth transition */
}

/* Show the tooltip on hover */
nav ul li:hover .tooltip {
    visibility: visible; /* Show tooltip */
    opacity: 1; /* Fade in */
}

/* Logo Home */
.logo-home {
    width: 2.5vw; /* Set width for the home logo */
    height: auto;
}

/* Logo About Us */
.logo-about {
    width: 2.5vw; /* Set width for the about logo */
    height: auto;
}

/* Logo Gallery */
.logo-gallery {
    width: 3.1vw; /* Set width for the gallery logo */
    height: auto;
}

/* Logo Ongoing Work */
.logo-ongoing {
    width: 2.4vw; /* Set width for the ongoing work logo */
    height: auto;
}

/* Logo Articles */
.logo-writings {
    width: 2.4vw; /* Set width for the ongoing work logo */
    height: auto;
}

/* Logo Project Hattimatim Tim */
.logo-project {
    width: 2.7vw; /* Set width for the project logo */
    height: auto;
}

nav .menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu li a img {
    height: auto;
    filter: brightness(0) invert(1); 
    transition: transform 0.3s ease;
}

nav .menu li a img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Optional: To center the logo icons vertically */
/* nav .menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* Slider Styles */
.slider {
    max-width: 70%;
    margin: 2vw auto;
    overflow: hidden;
    flex-grow: 1;
}

.slides img {
    width: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slides img.active {
    display: block;
}

/* slider for gallery*/
.slider-container-gal {
    position: relative;
    max-width: 65%;
    overflow: hidden;
    margin: 2vw 0;
  }

  .slider-gal {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .slide-gal {
    min-width: 100%;
  }

  .slide-gal img {
    width: 100%;
    display: block;
    border-radius: 2vw;
  }

  .slide-gal:hover img {
    transform: scale(1.05);
    filter: brightness(.9);
  }


  .prev {
    left: 1vw;
    position: static;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1vw;
    cursor: pointer;
    z-index: 10;
  }

  .next {
    right: 1vw;
    position: static;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1vw;
    cursor: pointer;
    z-index: 10;
  }

/* Container for Intro Text */
.intro-text {
    background-color: #f6f7f2;
    padding: 3vw;
    max-width: 70%; 
    margin: 2vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.1); /* Optional: Adds some depth */
}

/* Heading Style */
.intro-heading {
    font-size: 2vw; /* Heading size that scales with viewport */
    margin-bottom: 1vw; /* Adjust spacing below the heading */
    color: #493c57; /* Darker text color for contrast */
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

/* Smaller Text Style */
.intro-body-text {
    font-size: 1.1vw; /* Scalable smaller text */
    margin-top: 0.5vw;
    color: #252121; /* Lightest color for smaller text */
    text-align: justify;
}

/* Know More Button Style */
.know-more-button {
    display: inline-block; /* Makes it behave like a button */
    padding: 1vw 2vw; /* Padding for button */
    background-color: #0e3661; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* No border */
    border-radius: .8vw; /* Rounded corners */
    text-decoration: none; /* Removes underline */
    font-size: 1vw; /* Font size that scales with viewport */
    margin-top: 1.5vw; /* Space above the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: center;
    align-self: end;
}

/* Button hover effect */
.know-more-button:hover {
    background-color: #031222; /* Darker blue on hover */
}

/* Ensure padding remains intact */
.intro-text p {
    padding: 0; /* Remove any default padding on paragraphs */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 1.5vw;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2vw;
}

.footer-section {
    display: flex;
    justify-content: space-between; /* Space between each section */
    align-items: center;
    flex-wrap: wrap; /* Ensure responsiveness */
    text-align: center; /* Align text to the left in each section */
}

/* Each section takes up 1/3 of the footer */
.footer-section > div {
    flex: 1; /* Makes each section equal in width */
    padding: 0 2vw; /* Adds padding inside each section */
    min-width: 20vw; /* Ensures sections don't collapse on smaller screens */
}

.footer-address a {
    display: inline-block;
    margin: 0 1vw; /* Adds horizontal spacing between icons */
}

.footer-address a img {
    height: auto;
    transition: transform 0.3s ease;
}

.footer-address a img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}


/* Social Media Icon Styling */
.social-media a {
    display: inline-block;
    margin: 0 2vw; /* Adds horizontal spacing between icons */
}

.social-media img {
    width: 5vw; /* Set an appropriate size for the icons */
    height: auto; /* Maintain aspect ratio */
}

.social-media a img {
    height: auto;
    filter: brightness(0) invert(1); /* This inverts the image color to white if logos are dark */
    transition: transform 0.3s ease;
}

.social-media a img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.footer-other {
    text-align: center;
}

.footer-other h2 {
    font-size: 1.4vw;
    margin-bottom: .3vw;
}

.contact-item {
    display: inline-block;
    text-align: left;
    margin: 0 2vw;
}

.contact-item img {
    width: 2.3vw;
    height: 2.3vw;
    vertical-align: middle;
    filter: brightness(1) invert(1); 
    transition: transform 0.3s ease;
}

.contact-item p {
    display: inline;
    margin-left: 1vw;
    font-size: 1vw;
}

.contact-item img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}


/* Container for Timeline Section */
.timeline-text {
    background-color: #f6f7f2;
    padding: 3vw;
    max-width: 70%; /* Ensures the content doesn't go full width */
    margin: 2vw; /* Centers the intro text box */
    border-radius: 1vw;
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.1); /* Optional: Adds some depth */
}

/* Timeline container */
.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 1vw auto;
    position: relative;
    padding: 2vw 0;
}

/* Timeline event */
.timeline-event {
    position: relative;
    text-align: center;
    width: 25%;
}

/* Timeline date (the circle with the date) */
.timeline-date {
    background-color: #2C3E50;
    color: #fff;
    padding: 1vw;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5vw;
}

/* Timeline content box */
.timeline-content {
    background-color: white;
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.1);
    margin-top: 2vw;
    position: relative;
    max-width: 15vw;
    min-height: 10vw;
    margin-left: auto;
    margin-right: auto;
}

/* The horizontal line between the timeline events */
.timeline::before {
    content: '';
    position: absolute;
    top: 27%; /* Position the line at the vertical center of the timeline */
    left: 0;
    right: 0;
    height: .3vw;
    background-color: #ccc; 
    z-index: 0;
}

/* Styling the content title */
.timeline-content h3 {
    font-size: 1.4vw;
    color: #34495E;
}

/* Styling the content description */
.timeline-content p {
    color: #666;
    font-size: 1.1vw;
}

/* On hover, the timeline event box can pop a bit */
.timeline-event:hover .timeline-content {
    background-color: #f1f1f1;
    box-shadow: 0 .3vw .2vw rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    max-width: 70%;
    grid-template-columns: repeat(3, 1fr); 
    margin: 1vw;
    gap: 2vw; 
    /* padding: 1vw 3vw 3vw 3vw; */
}

.grid-item {
    width: 22vw;
    background-color: #f6f7f2;
    padding: 2vw;
    border: .1vw solid #ddd;
    text-align: center;
    border-radius: 2.5vw;
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto 1vw; /* Center image and add margin below */
    border: .1vw solid #333;
    border-radius: 2vw;
    filter: brightness(1);
}

.grid-item:hover img{
    transform: scale(1.05);
    border: .15vw solid #272727;
    filter: brightness(.8);
}

.grid-item:hover {
    background-color: #f2f3ed;
}

.grid-item p {
    font-size: 1vw;
    color: #333;
    text-align: justify;
    padding: 1vw;
}

.grid-btn-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 3vw; 
    padding: 3vw 5vw 3vw 5vw;
}

.grid-btn-item {
    width: 25vw;
}

.grid-member {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 6fr); 
    margin: 2vw;
    gap: 2vw; 
    /* padding: 1vw 3vw 3vw 3vw; */
}

.grid-member-item {
    /* width: 22vw;
    background-color: #f6f7f2;
    border: .1vw solid #ddd; */
    padding: 1vw;
    text-align: center;
}

.grid-member-item img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto 1vw; 
    filter: brightness(1);
}

.grid-member-item:hover img{
    transform: scale(1.05);
}

.grid-member-item h5{
    font-size: .9vw;
}

.grid-member-item h6{
    font-size: .7vw;
}

.two-grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr); 
    margin: 2vw;
    gap: 1.3vw; 
}

.two-grid-item {
    padding: 0vw;
    text-align: center;
    text-align: justify;
}

.two-grid-item img {
    max-width:100%; 
    height: auto;
    display: block;
    margin: 0 auto 1vw; 
    filter: brightness(1);
    border-radius: 1vw;
}

.two-grid-item:hover img{
    transform: scale(1.05);
}

.collapsible {
    color: #33404e;
    position: relative;
    background-color: #eef0e8;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    padding: 1.5vw;
    padding-left: 3vw;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.1);
  }
  
  .active, .collapsible:hover {
    background-color: #e4e7dc;
  }

.collapsible:after {
    content: '\002B';
    color: rgb(85, 65, 65);
    font-weight: bold;
    float: right;
    margin-left: 1vw;
  }
  
.active:after {
    content: "\2212";
  }
  
.collapsible-content {
    padding: 0 1vw;
    max-height: 0;
    overflow: hidden;
    border-radius: 1vw;
    transition: max-height 0.2s ease-out;
    background-color: #f3f4eb;
  }

.collapsible-content p {
    font-size: 1vw;
    color: #333;
    text-align: justify;
    padding: 1vw;
}